<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingxing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,264},{140,129}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{140,129}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
            <key>xingxing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{144,131}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,131}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
            <key>xingxing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,127}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
            <key>xingxing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{144,107}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{144,107}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
            <key>xingxing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{30,29}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{30,29}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_xingxing.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6fbda155bd57feeafb7cb33e4782790:1/1$</string>
            <key>textureFileName</key>
            <string>effect_ui_xingxing.png</string>
        </dict>
    </dict>
</plist>
